@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #224941 url(../img/bg.jpg) no-repeat center center/cover;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 30rem;
  height: 30rem;
  margin: auto;
  position: relative;
  transform: scale(1);

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: #010f1c;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;

  top: 0;
  left: 0;
  z-index: -1;
}
.gradient-circle {
  background: conic-gradient(
    #55b7b0 0%,
    #4ca493 40%,
    #fff 40%,
    #fff 60%,
    #336d62 60%,
    #2a5b52 100%
  );
  height: 32rem;
  width: 32rem;
  border-radius: 50%;
  z-index: -2;
  position: absolute;
   top: -1rem;
   left: -1rem;
}
.pointer{
   background-color: #fff;
   border-radius: 50%;
   width: 2rem;
   height: 2rem;
   display: block;
}
.pointer-container{
   position: absolute;
   top: -4rem;
   left: 14rem;
   width: 2rem;
   height: 19rem;
   animation: rotate 7.5s linear infinite;
   transform-origin: bottom center;
}

@keyframes rotate {
   from{
      transform: rotate(0deg);

   }
   to{
      transform: rotate(360deg);
   }
}

.container.grow{
   animation: grow 3s linear forwards;
}
@keyframes grow {
   from{
      transform: scale(1);
   }
   to{
      transform: scale(1.2);
   }
}

.container.shrink{
   animation: shrink 3s linear forwards;
}
@keyframes shrink {
   from{
      transform: scale(1.2);
   }
   to{
      transform: scale(1);
   }
}